@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 300px;
  height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @apply bg-background dark:bg-background-dark;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/regular.woff') format('opentype');
  }
   @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../public/fonts/light.woff') format('opentype');
  }
  @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../public/fonts/thin.woff') format('opentype');
  }
  @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../public/fonts/medium.woff') format('opentype');
  }
  @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../public/fonts/bold.woff') format('opentype');
  }
  @font-face {
    font-family: 'primary';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../public/fonts/black.woff') format('opentype');
  }
}
